body{
    text-align: center;
    background-color: #e4d33b;
}
div{
    display: block;
    margin: auto;
    border-radius: 20px;
    width: 50vw;
    height: 300px;
    background: linear-gradient(#e71313, #e6870a);
    justify-content: center;
    
}
p{
    color: white;
}